body, table, p { font-size: 8pt; border-style: none; !important }
a:link { color: #000000; text-decoration:none; !important }
#content { width: 100%; margin: 0; float: none; !important }
#content { background: transparent; }
#nav, #sidebar { display: none; }
table { width: 100%; !important }
body {  background: none; width: 100%; !important }
address { color: #FFFFFF; !important }