body, table, p { color:black; background-color: #FFFFFF; bgcolor: #FFFFFF; border: none; border-style: none; !important }
h1, h2, h3, h4, h5, h6, font {color:black;  !important}
body, table, p { font-size: 8pt; !important }
p { align: none; !important }
header, footer { font-size: 6pt; !important }
a:link { color: #000000; text-decoration:none; !important }
#content { width: 100%; margin: 0; float: none; !important }
#content { background: transparent; }
#nav, #sidebar { display: none; }
body {  background: none; width: 100%; !important }
address { align: center; color: #FFFFFF; !important }
table td, table th { font-size: 8pt; align:left; border:none; !important }
table { width: 100%; !important }
img { max-width:100%; max-height100%; !important }
div { position: inherit; width: 100% !important }
tr { background-color: #FFFFFF; bgcolor: #FFFFFF !important}
